# GAITREC Dataset | Data Import Notebook

In [ ]:
# Copyright (C)  2019  Djordje Slijepcevic
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program. If not, see <http://www.gnu.org/licenses/>.

In [1]:
import pandas as pd

In [3]:
# Left lower extremity
GRF_F_V_PRO_left = pd.read_csv(r'../data/GRF_F_V_PRO_left.csv')
GRF_F_V_RAW_left = pd.read_csv(r'../data/GRF_F_V_RAW_left.csv')

GRF_F_AP_PRO_left = pd.read_csv(r'../data/GRF_F_AP_PRO_left.csv')
GRF_F_AP_RAW_left = pd.read_csv(r'../data/GRF_F_AP_RAW_left.csv')

GRF_F_ML_PRO_left = pd.read_csv(r'../data/GRF_F_ML_PRO_left.csv')
GRF_F_ML_RAW_left = pd.read_csv(r'../data/GRF_F_ML_RAW_left.csv')

GRF_COP_AP_PRO_left = pd.read_csv(r'../data/GRF_COP_AP_PRO_left.csv')
GRF_COP_AP_RAW_left = pd.read_csv(r'../data/GRF_COP_AP_RAW_left.csv')

GRF_COP_ML_PRO_left = pd.read_csv(r'../data/GRF_COP_ML_PRO_left.csv')
GRF_COP_ML_RAW_left = pd.read_csv(r'../data/GRF_COP_ML_RAW_left.csv')

# Right lower extremity
GRF_F_V_PRO_right = pd.read_csv(r'../data/GRF_F_V_PRO_right.csv')
GRF_F_V_RAW_right = pd.read_csv(r'../data/GRF_F_V_RAW_right.csv')

GRF_F_AP_PRO_right = pd.read_csv(r'../data/GRF_F_AP_PRO_right.csv')
GRF_F_AP_RAW_right = pd.read_csv(r'../data/GRF_F_AP_RAW_right.csv')

GRF_F_ML_PRO_right = pd.read_csv(r'../data/GRF_F_ML_PRO_right.csv')
GRF_F_ML_RAW_right = pd.read_csv(r'../data/GRF_F_ML_RAW_right.csv')

GRF_COP_AP_PRO_right = pd.read_csv(r'../data/GRF_COP_AP_PRO_right.csv')
GRF_COP_AP_RAW_right = pd.read_csv(r'../data/GRF_COP_AP_RAW_right.csv')

GRF_COP_ML_PRO_right = pd.read_csv(r'../data/GRF_COP_ML_PRO_right.csv')
GRF_COP_ML_RAW_right = pd.read_csv(r'../data/GRF_COP_ML_RAW_right.csv')

# Annotations and Metadata
GRF_Annotation = pd.read_csv(r'../data/GRF_metadata.csv')

## Processed Data

### Left Lower Extremity

In [4]:
GRF_F_V_PRO_left.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,F_V_PRO_1,F_V_PRO_2,F_V_PRO_3,F_V_PRO_4,F_V_PRO_5,F_V_PRO_6,F_V_PRO_7,...,F_V_PRO_92,F_V_PRO_93,F_V_PRO_94,F_V_PRO_95,F_V_PRO_96,F_V_PRO_97,F_V_PRO_98,F_V_PRO_99,F_V_PRO_100,F_V_PRO_101
0,510,413,1,0.022633,0.061113,0.114901,0.176286,0.240173,0.307632,0.381910,...,0.439735,0.363369,0.293813,0.233255,0.181122,0.135943,0.097352,0.065702,0.041022,0.022629
1,510,413,2,0.022631,0.064086,0.120122,0.182163,0.247071,0.318845,0.401557,...,0.410254,0.339074,0.275394,0.220207,0.172339,0.130209,0.093530,0.063213,0.039767,0.022631
2,510,413,3,0.022629,0.057981,0.105291,0.159700,0.219181,0.285077,0.358567,...,0.433426,0.360247,0.294009,0.235680,0.184456,0.139032,0.099369,0.066516,0.041136,0.022629
3,510,413,4,0.022627,0.065699,0.128061,0.203220,0.286525,0.377700,0.476686,...,0.413362,0.342532,0.279180,0.223987,0.175465,0.132305,0.094839,0.064081,0.040264,0.022632
4,510,413,6,0.022627,0.065287,0.124876,0.192132,0.262683,0.339977,0.428425,...,0.463430,0.387153,0.316935,0.254497,0.199263,0.149953,0.106697,0.070753,0.042899,0.022628

In [5]:
GRF_F_AP_PRO_left.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,F_AP_PRO_1,F_AP_PRO_2,F_AP_PRO_3,F_AP_PRO_4,F_AP_PRO_5,F_AP_PRO_6,F_AP_PRO_7,...,F_AP_PRO_92,F_AP_PRO_93,F_AP_PRO_94,F_AP_PRO_95,F_AP_PRO_96,F_AP_PRO_97,F_AP_PRO_98,F_AP_PRO_99,F_AP_PRO_100,F_AP_PRO_101
0,510,413,1,-0.000670,0.004931,0.010735,0.007857,-0.006622,-0.027174,-0.048088,...,0.096395,0.081169,0.064288,0.048071,0.034576,0.024142,0.015432,0.007100,-0.000426,-0.005152
1,510,413,2,0.008001,0.019121,0.026793,0.021513,0.003647,-0.018999,-0.040842,...,0.093676,0.078346,0.062120,0.046927,0.034311,0.024450,0.016102,0.008016,0.000419,-0.004925
2,510,413,3,0.004010,0.010528,0.014719,0.009974,-0.004298,-0.023603,-0.043511,...,0.102955,0.086728,0.069173,0.052592,0.038667,0.027473,0.017748,0.008439,0.000184,-0.005014
3,510,413,4,0.002082,0.008213,0.012272,0.005936,-0.013060,-0.038867,-0.064183,...,0.102953,0.085782,0.067937,0.051657,0.038363,0.027743,0.018289,0.009041,0.000805,-0.004549
4,510,413,6,0.007449,0.017501,0.023836,0.016122,-0.005822,-0.033894,-0.061242,...,0.108590,0.092894,0.074780,0.056742,0.041161,0.028754,0.018503,0.009227,0.001187,-0.004078

In [6]:
GRF_F_ML_PRO_left.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,F_ML_PRO_1,F_ML_PRO_2,F_ML_PRO_3,F_ML_PRO_4,F_ML_PRO_5,F_ML_PRO_6,F_ML_PRO_7,...,F_ML_PRO_92,F_ML_PRO_93,F_ML_PRO_94,F_ML_PRO_95,F_ML_PRO_96,F_ML_PRO_97,F_ML_PRO_98,F_ML_PRO_99,F_ML_PRO_100,F_ML_PRO_101
0,510,413,1,-0.001127,-0.002991,-0.005770,-0.009674,-0.014620,-0.019541,-0.021310,...,0.013180,0.011199,0.009991,0.009092,0.008314,0.007836,0.007841,0.008148,0.008100,0.006935
1,510,413,2,-0.002796,-0.006785,-0.010421,-0.014570,-0.019925,-0.026342,-0.031077,...,0.016136,0.013948,0.012256,0.010865,0.009641,0.008679,0.008202,0.008182,0.008113,0.007242
2,510,413,3,-0.006884,-0.011786,-0.017391,-0.024939,-0.034315,-0.044350,-0.051072,...,0.012462,0.010748,0.009660,0.008898,0.008297,0.007950,0.008010,0.008333,0.008280,0.007015
3,510,413,4,-0.003460,-0.008386,-0.015522,-0.025463,-0.037260,-0.047466,-0.050437,...,0.004978,0.004569,0.004457,0.004404,0.004489,0.004961,0.005904,0.007032,0.007647,0.006979
4,510,413,6,-0.005198,-0.009888,-0.014857,-0.021275,-0.029552,-0.039549,-0.047659,...,-0.000355,-0.001163,-0.000916,0.000052,0.001416,0.003074,0.005047,0.007094,0.008379,0.008055

In [7]:
GRF_COP_AP_PRO_left.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,COP_AP_PRO_1,COP_AP_PRO_2,COP_AP_PRO_3,COP_AP_PRO_4,COP_AP_PRO_5,COP_AP_PRO_6,COP_AP_PRO_7,...,COP_AP_PRO_92,COP_AP_PRO_93,COP_AP_PRO_94,COP_AP_PRO_95,COP_AP_PRO_96,COP_AP_PRO_97,COP_AP_PRO_98,COP_AP_PRO_99,COP_AP_PRO_100,COP_AP_PRO_101
0,510,413,1,0,0.0,0.001679,0.005040,0.009565,0.014452,0.019158,...,0.238199,0.245896,0.254124,0.261950,0.268480,0.273040,0.275578,0.276633,0.276633,0.276633
1,510,413,2,0,-0.0,0.001762,0.006239,0.012014,0.017909,0.023363,...,0.239281,0.246851,0.254543,0.261608,0.267632,0.272774,0.277293,0.279960,0.279960,0.279960
2,510,413,3,0,0.0,-0.000709,0.000988,0.004852,0.009656,0.014573,...,0.220594,0.228295,0.236298,0.243784,0.250070,0.255029,0.258906,0.261441,0.261441,0.261441
3,510,413,4,0,-0.0,0.006717,0.013107,0.018519,0.023304,0.027571,...,0.240114,0.247715,0.255494,0.262547,0.268347,0.272940,0.276570,0.278652,0.278652,0.278652
4,510,413,6,0,-0.0,0.000983,0.004263,0.008647,0.013425,0.018278,...,0.233858,0.241277,0.249090,0.256536,0.262843,0.267576,0.270997,0.273371,0.273455,0.273455

In [8]:
GRF_COP_ML_PRO_left.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,COP_ML_PRO_1,COP_ML_PRO_2,COP_ML_PRO_3,COP_ML_PRO_4,COP_ML_PRO_5,COP_ML_PRO_6,COP_ML_PRO_7,...,COP_ML_PRO_92,COP_ML_PRO_93,COP_ML_PRO_94,COP_ML_PRO_95,COP_ML_PRO_96,COP_ML_PRO_97,COP_ML_PRO_98,COP_ML_PRO_99,COP_ML_PRO_100,COP_ML_PRO_101
0,510,413,1,-0.021605,-0.021605,-0.022058,-0.022978,-0.024320,-0.025400,-0.025430,...,-0.001038,-0.001803,-0.001900,-0.001142,0.000412,0.002423,0.004635,0.006425,0.006425,0.006425
1,510,413,2,-0.024938,-0.024938,-0.024322,-0.025119,-0.026645,-0.027844,-0.027979,...,0.003836,0.003459,0.003600,0.004234,0.005267,0.006560,0.007918,0.008749,0.008749,0.008749
2,510,413,3,-0.032265,-0.032265,-0.029121,-0.028122,-0.029632,-0.031496,-0.032005,...,0.000421,-0.000152,-0.000153,0.000546,0.001885,0.003746,0.005922,0.007585,0.007585,0.007585
3,510,413,4,-0.022008,-0.022008,-0.024260,-0.026697,-0.028713,-0.029543,-0.028541,...,-0.004693,-0.005252,-0.005157,-0.004384,-0.002848,-0.000591,0.002116,0.003955,0.003955,0.003955
4,510,413,6,-0.034241,-0.034241,-0.031755,-0.031711,-0.033316,-0.034949,-0.035347,...,0.005808,0.005394,0.005479,0.006169,0.007436,0.009226,0.011461,0.013509,0.013584,0.013584

### Right Lower Extremity

In [9]:
GRF_F_V_PRO_right.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,F_V_PRO_1,F_V_PRO_2,F_V_PRO_3,F_V_PRO_4,F_V_PRO_5,F_V_PRO_6,F_V_PRO_7,...,F_V_PRO_92,F_V_PRO_93,F_V_PRO_94,F_V_PRO_95,F_V_PRO_96,F_V_PRO_97,F_V_PRO_98,F_V_PRO_99,F_V_PRO_100,F_V_PRO_101
0,510,413,1,0.022642,0.066304,0.123147,0.178585,0.229816,0.286079,0.353620,...,0.333009,0.282119,0.233682,0.189883,0.151416,0.117502,0.087352,0.061159,0.039500,0.022633
1,510,413,2,0.022637,0.063175,0.114420,0.163122,0.207777,0.257460,0.317920,...,0.319159,0.271192,0.225628,0.184277,0.147850,0.115619,0.086782,0.061318,0.039709,0.022630
2,510,413,3,0.022628,0.066277,0.123461,0.178248,0.225705,0.274257,0.330758,...,0.336820,0.285054,0.235092,0.189484,0.149884,0.115968,0.086485,0.060872,0.039427,0.022631
3,510,413,4,0.022641,0.067567,0.130535,0.199452,0.267539,0.337289,0.411577,...,0.305000,0.251956,0.202682,0.159656,0.124149,0.095263,0.071202,0.051078,0.034963,0.022631
4,510,413,6,0.022629,0.065415,0.122248,0.179967,0.232711,0.285586,0.346265,...,0.304090,0.256634,0.212920,0.174113,0.139937,0.109247,0.081570,0.057560,0.037933,0.022633

In [10]:
GRF_F_AP_PRO_right.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,F_AP_PRO_1,F_AP_PRO_2,F_AP_PRO_3,F_AP_PRO_4,F_AP_PRO_5,F_AP_PRO_6,F_AP_PRO_7,...,F_AP_PRO_92,F_AP_PRO_93,F_AP_PRO_94,F_AP_PRO_95,F_AP_PRO_96,F_AP_PRO_97,F_AP_PRO_98,F_AP_PRO_99,F_AP_PRO_100,F_AP_PRO_101
0,510,413,1,0.010727,0.020846,0.024018,0.013009,-0.007195,-0.027797,-0.045298,...,0.057944,0.049953,0.040322,0.029506,0.018883,0.010177,0.003901,-0.000790,-0.004617,-0.007156
1,510,413,2,0.011145,0.023275,0.028798,0.019754,0.001427,-0.016865,-0.032306,...,0.059342,0.050585,0.040656,0.030363,0.020826,0.013151,0.007167,0.001913,-0.002825,-0.006174
2,510,413,3,0.008267,0.019021,0.025032,0.016617,-0.003080,-0.024066,-0.041844,...,0.063481,0.054478,0.043799,0.032201,0.021020,0.012032,0.005632,0.000477,-0.004102,-0.007197
3,510,413,4,-0.002135,-0.000218,0.001233,-0.005547,-0.022976,-0.045269,-0.065875,...,0.061916,0.051394,0.039386,0.027235,0.016307,0.008026,0.002765,-0.000763,-0.004034,-0.006974
4,510,413,6,0.012581,0.026203,0.034802,0.029306,0.011046,-0.011236,-0.030853,...,0.065452,0.054284,0.041880,0.029487,0.018782,0.010829,0.004858,-0.000263,-0.004824,-0.007778

In [11]:
GRF_F_ML_PRO_right.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,F_ML_PRO_1,F_ML_PRO_2,F_ML_PRO_3,F_ML_PRO_4,F_ML_PRO_5,F_ML_PRO_6,F_ML_PRO_7,...,F_ML_PRO_92,F_ML_PRO_93,F_ML_PRO_94,F_ML_PRO_95,F_ML_PRO_96,F_ML_PRO_97,F_ML_PRO_98,F_ML_PRO_99,F_ML_PRO_100,F_ML_PRO_101
0,510,413,1,-0.002149,-0.004597,-0.007017,-0.009617,-0.013342,-0.018157,-0.022704,...,0.089247,0.070493,0.051257,0.036439,0.027087,0.021635,0.018068,0.014995,0.012001,0.009341
1,510,413,2,-0.004095,-0.007960,-0.010888,-0.012381,-0.013845,-0.016565,-0.019989,...,0.009087,0.005528,0.002327,0.000247,-0.000669,-0.000716,-0.000270,0.000274,0.000672,0.000840
2,510,413,3,-0.002118,-0.005818,-0.010251,-0.013861,-0.017083,-0.021049,-0.025511,...,0.045680,0.039442,0.031751,0.024784,0.019807,0.016656,0.014614,0.013103,0.011776,0.010462
3,510,413,4,-0.003031,-0.007276,-0.012888,-0.018830,-0.024121,-0.028953,-0.032900,...,0.010074,0.007399,0.005054,0.003709,0.003223,0.002947,0.002379,0.001526,0.000687,0.000128
4,510,413,6,-0.005082,-0.010662,-0.016314,-0.021915,-0.028021,-0.034858,-0.041648,...,0.003482,0.000928,-0.000839,-0.001606,-0.001531,-0.001024,-0.000473,-0.000075,0.000114,0.000127

In [12]:
GRF_COP_AP_PRO_right.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,COP_AP_PRO_1,COP_AP_PRO_2,COP_AP_PRO_3,COP_AP_PRO_4,COP_AP_PRO_5,COP_AP_PRO_6,COP_AP_PRO_7,...,COP_AP_PRO_92,COP_AP_PRO_93,COP_AP_PRO_94,COP_AP_PRO_95,COP_AP_PRO_96,COP_AP_PRO_97,COP_AP_PRO_98,COP_AP_PRO_99,COP_AP_PRO_100,COP_AP_PRO_101
0,510,413,1,0,0.0,0.003548,0.008188,0.012909,0.017358,0.021336,...,0.232591,0.240435,0.249518,0.259316,0.268790,0.277122,0.284049,0.287190,0.287190,0.287190
1,510,413,2,0,-0.0,0.000617,0.003614,0.007578,0.011744,0.015904,...,0.232859,0.241376,0.250679,0.260066,0.268616,0.275738,0.281546,0.284270,0.284270,0.284270
2,510,413,3,0,0.0,0.001238,0.004859,0.009520,0.013843,0.017399,...,0.215285,0.223891,0.233573,0.243778,0.253663,0.262344,0.269258,0.272264,0.272264,0.272264
3,510,413,4,0,-0.0,0.004700,0.008353,0.011591,0.014774,0.017908,...,0.218924,0.227485,0.236946,0.246595,0.255309,0.261981,0.265761,0.266027,0.266027,0.266027
4,510,413,6,0,-0.0,0.004453,0.009191,0.013515,0.017582,0.021424,...,0.239181,0.247782,0.256900,0.265727,0.273270,0.279095,0.283555,0.284885,0.284885,0.284885

In [13]:
GRF_COP_ML_PRO_right.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,COP_ML_PRO_1,COP_ML_PRO_2,COP_ML_PRO_3,COP_ML_PRO_4,COP_ML_PRO_5,COP_ML_PRO_6,COP_ML_PRO_7,...,COP_ML_PRO_92,COP_ML_PRO_93,COP_ML_PRO_94,COP_ML_PRO_95,COP_ML_PRO_96,COP_ML_PRO_97,COP_ML_PRO_98,COP_ML_PRO_99,COP_ML_PRO_100,COP_ML_PRO_101
0,510,413,1,-0.017013,-0.017013,-0.016869,-0.017174,-0.017790,-0.018294,-0.018303,...,-0.013346,-0.012785,-0.011605,-0.010398,-0.009619,-0.009252,-0.009085,-0.009053,-0.009053,-0.009053
1,510,413,2,-0.026101,-0.026101,-0.024921,-0.024133,-0.023879,-0.023952,-0.024015,...,0.009090,0.008908,0.008938,0.009474,0.010483,0.011879,0.013871,0.015144,0.015144,0.015144
2,510,413,3,-0.024128,-0.024128,-0.023663,-0.023633,-0.023785,-0.023806,-0.023649,...,0.003423,0.003124,0.003207,0.003672,0.004250,0.004534,0.004285,0.004029,0.004029,0.004029
3,510,413,4,-0.027047,-0.027047,-0.026888,-0.026816,-0.026750,-0.026571,-0.026081,...,0.012542,0.012714,0.013241,0.014294,0.015593,0.016787,0.017718,0.017811,0.017811,0.017811
4,510,413,6,-0.021283,-0.021283,-0.021723,-0.022215,-0.022796,-0.023266,-0.023325,...,0.005654,0.005567,0.005846,0.006484,0.007433,0.008590,0.009710,0.010076,0.010076,0.010076

## Raw Data

### Left Lower Extremity

In [14]:
GRF_F_V_RAW_left.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,F_V_RAW_1,F_V_RAW_2,F_V_RAW_3,F_V_RAW_4,F_V_RAW_5,F_V_RAW_6,F_V_RAW_7,...,F_V_RAW_410,F_V_RAW_411,F_V_RAW_412,F_V_RAW_413,F_V_RAW_414,F_V_RAW_415,F_V_RAW_416,F_V_RAW_417,F_V_RAW_418,F_V_RAW_419
0,510,413,1,25.007842,44.399398,71.282930,111.350325,151.060614,188.434204,223.103463,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,510,413,2,25.019307,62.278721,94.491200,133.914834,176.045690,211.082598,241.765517,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,510,413,3,25.021281,51.954258,74.954363,106.561071,141.265769,172.779614,202.292505,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,510,413,4,25.024699,57.128230,91.755101,132.413711,178.811880,224.234218,268.680726,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,510,413,6,25.020170,63.753965,100.386720,144.404215,190.093214,229.451770,263.502418,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
GRF_F_AP_RAW_left.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,F_AP_RAW_1,F_AP_RAW_2,F_AP_RAW_3,F_AP_RAW_4,F_AP_RAW_5,F_AP_RAW_6,F_AP_RAW_7,...,F_AP_RAW_410,F_AP_RAW_411,F_AP_RAW_412,F_AP_RAW_413,F_AP_RAW_414,F_AP_RAW_415,F_AP_RAW_416,F_AP_RAW_417,F_AP_RAW_418,F_AP_RAW_419
0,510,413,1,-20.727143,-8.077615,6.442604,13.308438,25.041097,27.254637,16.373847,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,510,413,2,-4.136032,11.114439,34.617134,44.072324,46.208570,37.630781,18.586390,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,510,413,3,-10.559291,0.990605,19.220404,24.010776,25.980256,23.176361,11.802538,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,510,413,4,-10.843590,-0.412005,14.363715,19.517216,24.728226,22.325276,8.203638,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,510,413,6,-6.139051,7.401233,34.812497,44.189449,41.926720,30.787977,9.643745,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
GRF_F_ML_RAW_left.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,F_ML_RAW_1,F_ML_RAW_2,F_ML_RAW_3,F_ML_RAW_4,F_ML_RAW_5,F_ML_RAW_6,F_ML_RAW_7,...,F_ML_RAW_410,F_ML_RAW_411,F_ML_RAW_412,F_ML_RAW_413,F_ML_RAW_414,F_ML_RAW_415,F_ML_RAW_416,F_ML_RAW_417,F_ML_RAW_418,F_ML_RAW_419
0,510,413,1,-1.915180,-3.963010,-3.027701,-4.240178,-7.926410,-9.558917,-10.340218,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,510,413,2,-7.776605,-13.470044,-9.570158,-9.093795,-13.579570,-16.390205,-16.463205,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,510,413,3,-19.170787,-18.159002,-10.291554,-13.330080,-21.630394,-26.942429,-28.699461,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,510,413,4,-6.983635,-9.939962,-11.345466,-13.542934,-18.624711,-24.137717,-29.606646,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,510,413,6,-15.774639,-18.794882,-7.793066,-12.882207,-22.968984,-25.961635,-23.169204,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
GRF_COP_AP_RAW_left.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,COP_AP_RAW_1,COP_AP_RAW_2,COP_AP_RAW_3,COP_AP_RAW_4,COP_AP_RAW_5,COP_AP_RAW_6,COP_AP_RAW_7,...,COP_AP_RAW_410,COP_AP_RAW_411,COP_AP_RAW_412,COP_AP_RAW_413,COP_AP_RAW_414,COP_AP_RAW_415,COP_AP_RAW_416,COP_AP_RAW_417,COP_AP_RAW_418,COP_AP_RAW_419
0,510,413,1,-0.179030,-0.180430,-0.181978,-0.176719,-0.176130,-0.176820,-0.174659,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,510,413,2,-0.178717,-0.184542,-0.188789,-0.184976,-0.181117,-0.178235,-0.175591,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,510,413,3,-0.217464,-0.230977,-0.240081,-0.235173,-0.231944,-0.231034,-0.229675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,510,413,4,-0.236844,-0.216593,-0.214965,-0.212311,-0.209377,-0.206651,-0.203977,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,510,413,6,-0.150634,-0.159325,-0.163416,-0.159186,-0.155433,-0.152650,-0.150756,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
GRF_COP_ML_RAW_left.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,COP_ML_RAW_1,COP_ML_RAW_2,COP_ML_RAW_3,COP_ML_RAW_4,COP_ML_RAW_5,COP_ML_RAW_6,COP_ML_RAW_7,...,COP_ML_RAW_410,COP_ML_RAW_411,COP_ML_RAW_412,COP_ML_RAW_413,COP_ML_RAW_414,COP_ML_RAW_415,COP_ML_RAW_416,COP_ML_RAW_417,COP_ML_RAW_418,COP_ML_RAW_419
0,510,413,1,0.094785,0.092050,0.091899,0.093088,0.092816,0.093306,0.092675,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,510,413,2,0.039899,0.041881,0.047364,0.048314,0.046434,0.044915,0.043805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,510,413,3,0.030301,0.052767,0.065546,0.063430,0.059735,0.058689,0.058566,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,510,413,4,0.102013,0.095264,0.093899,0.095202,0.094418,0.092864,0.091720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,510,413,6,-0.010017,0.002942,0.011100,0.009861,0.007303,0.006210,0.006039,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Right Lower Extremity

In [19]:
GRF_F_V_RAW_right.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,F_V_RAW_1,F_V_RAW_2,F_V_RAW_3,F_V_RAW_4,F_V_RAW_5,F_V_RAW_6,F_V_RAW_7,...,F_V_RAW_396,F_V_RAW_397,F_V_RAW_398,F_V_RAW_399,F_V_RAW_400,F_V_RAW_401,F_V_RAW_402,F_V_RAW_403,F_V_RAW_404,F_V_RAW_405
0,510,413,1,25.012121,71.665275,117.186824,164.451053,200.872450,222.624473,238.251717,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,510,413,2,25.016710,63.569407,101.153295,142.028770,174.248030,194.668579,208.346771,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,510,413,3,25.026936,60.096013,101.144933,150.517658,191.280846,215.418287,230.276185,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,510,413,4,25.021733,61.788997,105.290472,160.189965,207.747913,245.688873,277.416504,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,510,413,6,25.025240,72.749964,123.243514,175.324882,214.624059,238.511953,256.043485,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
GRF_F_AP_RAW_right.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,F_AP_RAW_1,F_AP_RAW_2,F_AP_RAW_3,F_AP_RAW_4,F_AP_RAW_5,F_AP_RAW_6,F_AP_RAW_7,...,F_AP_RAW_396,F_AP_RAW_397,F_AP_RAW_398,F_AP_RAW_399,F_AP_RAW_400,F_AP_RAW_401,F_AP_RAW_402,F_AP_RAW_403,F_AP_RAW_404,F_AP_RAW_405
0,510,413,1,5.226467,27.607487,46.558989,46.040902,33.973817,13.843596,-8.205597,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,510,413,2,4.094945,27.075586,47.538194,50.474836,43.601588,27.704073,6.748905,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,510,413,3,-6.465291,17.403913,40.416721,44.944315,44.132332,29.505692,6.272995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,510,413,4,-18.080119,-14.236960,5.971822,9.753554,12.878368,8.884485,-10.767071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,510,413,6,6.400325,32.258500,58.809860,63.454471,53.592544,32.603313,7.086410,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
GRF_F_ML_RAW_right.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,F_ML_RAW_1,F_ML_RAW_2,F_ML_RAW_3,F_ML_RAW_4,F_ML_RAW_5,F_ML_RAW_6,F_ML_RAW_7,...,F_ML_RAW_396,F_ML_RAW_397,F_ML_RAW_398,F_ML_RAW_399,F_ML_RAW_400,F_ML_RAW_401,F_ML_RAW_402,F_ML_RAW_403,F_ML_RAW_404,F_ML_RAW_405
0,510,413,1,-3.622858,-7.433553,-9.861389,-8.607089,-8.482823,-9.335399,-11.255909,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,510,413,2,-7.380599,-9.787235,-13.897942,-14.555233,-14.514668,-13.369096,-12.771118,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,510,413,3,-3.128367,-2.829700,-10.991417,-14.315892,-16.922529,-16.096301,-15.457490,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,510,413,4,-5.582969,-7.186231,-9.126909,-14.105042,-20.728996,-24.608863,-25.478465,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,510,413,6,-10.259157,-19.304767,-18.010752,-19.399977,-22.127210,-26.246079,-29.159682,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
GRF_COP_AP_RAW_right.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,COP_AP_RAW_1,COP_AP_RAW_2,COP_AP_RAW_3,COP_AP_RAW_4,COP_AP_RAW_5,COP_AP_RAW_6,COP_AP_RAW_7,...,COP_AP_RAW_396,COP_AP_RAW_397,COP_AP_RAW_398,COP_AP_RAW_399,COP_AP_RAW_400,COP_AP_RAW_401,COP_AP_RAW_402,COP_AP_RAW_403,COP_AP_RAW_404,COP_AP_RAW_405
0,510,413,1,-0.162955,-0.154802,-0.157569,-0.156323,-0.153143,-0.149204,-0.147165,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,510,413,2,-0.132743,-0.143059,-0.146384,-0.143090,-0.140517,-0.138094,-0.135666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,510,413,3,-0.204854,-0.207629,-0.215930,-0.211435,-0.207549,-0.206310,-0.204622,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,510,413,4,-0.225304,-0.203526,-0.203677,-0.200858,-0.201696,-0.202704,-0.200028,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,510,413,6,-0.149431,-0.134684,-0.134163,-0.133411,-0.131665,-0.127982,-0.125324,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
GRF_COP_ML_RAW_right.head()

,SUBJECT_ID,SESSION_ID,TRIAL_ID,COP_ML_RAW_1,COP_ML_RAW_2,COP_ML_RAW_3,COP_ML_RAW_4,COP_ML_RAW_5,COP_ML_RAW_6,COP_ML_RAW_7,...,COP_ML_RAW_396,COP_ML_RAW_397,COP_ML_RAW_398,COP_ML_RAW_399,COP_ML_RAW_400,COP_ML_RAW_401,COP_ML_RAW_402,COP_ML_RAW_403,COP_ML_RAW_404,COP_ML_RAW_405
0,510,413,1,0.088796,0.086835,0.089828,0.090338,0.089544,0.089346,0.089187,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,510,413,2,0.084698,0.087611,0.090022,0.090069,0.090622,0.090448,0.090724,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,510,413,3,0.071568,0.075862,0.075369,0.075692,0.074841,0.075390,0.075037,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,510,413,4,0.060323,0.058533,0.060313,0.060868,0.060799,0.060220,0.060029,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,510,413,6,0.071055,0.065949,0.067635,0.067792,0.068442,0.068226,0.067359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN